body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top {
    padding: 10px;

    width: 90%;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .logo {
    width: 150px;
}

.top .input {
    position: relative;

    margin-top: 20px;
}

.top .input input {
    color: black;
    font-size: 15px;

    padding: 5px 25px;

    padding-right: 10px;

    border-radius: 5px;

    width: 100%;
}

.top .input svg {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.category {
    margin-top: 10px;

    background: linear-gradient(to right, #BC01F0, 90%, #8600ac);

    width: 95%;

    border-radius: 10px;
    
    padding: 10px;
}

.category h1 {
    color: rgb(200,200,200);
    font-size: 20px;
    text-align: center;
}

.category .icons {
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-bottom: 10px;
}

.category .icons svg {
    color: white;

    width: 60px;
    height: 60px;

    background-color: rgb(30,30,30);

    padding: 10px;

    border-radius: 10px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    padding: 10px;

    margin-top: 30px;
}

.services .service {
    background-color: rgb(30,30,30);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;

    padding: 10px;
}

.services .service .img {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    overflow: hidden;
}

.services .service img {
    width: 100%;    
    height: 100%;
    object-fit: cover;
}

.services .service h1 {
    color: white;
    text-align: center;
    font-size: 15px;

    margin-top: 10px;
}

.services .service p {
    color: rgb(200,200,200);
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    margin-top: 5px;
}

.services .service p svg {
    width: 15px;
    height: 15px;
}